<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>home_climb_img</string>
	<string>home_old_town_img</string>
	<string>home_humanities_img</string>
	<string>home_park_img</string>
	<string>home_summer_img</string>
	<string>home_CS_img</string>
</array>
</plist>
